@media (max-width: 450px) {
  .s1 {
    background-image: url(./images/s1/mobileHero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-top: 5rem;
  }
  .s1Img {
    display: none;
  }
  .s5 {
    background-image: none !important;
    background-color: #f6f6f6;
  }
  .inpts {
    height: 56px !important;
    flex: none !important;
  }
}
@font-face {
  font-family: Monstr;
  src: url(./static/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MonstrSemiBold;
  src: url(./static/Montserrat-SemiBold.ttf);
}
@font-face {
  font-family: MonstrMdm;
  src: url(./static/Montserrat-Medium.ttf);
}
